<header class="container-fluid bg-primary">
  <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a href="#" class="navbar-brand text-uppercase">sistema web</a>
    <div class="navbar-nav">
      <a href="/" class="nav-item nav-link active">Cadastrar</a>
      <a href="search" class="nav-item nav-link">Consultar</a>
    </div>
  </nav>
</header>
<main class="container-fluid">
  <p class="fw-bold fs-5">Cadastrar - Agendamento de Potenciais Clientes</p>
  <p>Sistema utilizado para agendamento de serviços</p>
<div class="container-fluid bg-primary">
<div class="row">
<div class="col text-light text-center">
    Nome
  </div>
  <div class="col text-light text-center">
    Telefone
  </div>
  <div class="col text-light text-center">
    Origem
  </div>
  <div class="col text-light text-center">
    Data do contato
  </div>
  <div class="col text-light text-center">
    Observação
  </div>
</div>
</div>
</main>
